<header>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark"">
        <a class="navbar-brand" href="#">Database</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" id="student" href="/home">Students <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link "id="add-student"href="/home/page/add-student">Add Student </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="interview" href="/home/page/render-interviews" >Interview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  id="job" href="/home/page/jobs">Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  id="csv" href="/home/page/download-csv">Download CSV</a>
            </li>
          </ul>
        </div>
      </nav>
      
</header>
